/MTI/MTI-UI/target/
/MTI/branding/target/
/MTI/JavaMail/target/
/MTI/MTI-API/target/
/MTI_old/JavaMail/target/
/MTI_old/MTI-API/target/
/MTI_old/MTI-UI/target/
/MTI_old/branding/target/
/MTI/application/target/
/MTI/MTI-model/target/
/MTI/model/target/
/MTI/ui/target/
/MTI/zimo/target/
/MTI/JaybirdSQL/target/
/MTI/application/password.properties
